@charset "utf-8";


/* login 로그인 */
.login-box{width: 980px; height: 620px; margin:100px auto 0;  border:1px solid #dddddd; border-radius: 8px; text-align: center;letter-spacing:-0.07em;}
.login-box p{text-align: center;}
.login-box .title-style2{ margin-top: 95px;}
.login-box .login-text02{color: #777; font-size: 18px; margin-top: 20px;}
.login-box .login-text03{color: #777; font-size: 16px; margin-top: 80px;}
.login-box .input-wrap{width: 715px;  position: relative;margin: 50px auto 0;}
.login-box .input-wrap:after { display: block; content: ""; }
.login-box .input-wrap input[type=text], .login-box .input-wrap input[type=password]{ height: 60px; width: 573px; display: block; margin-bottom: 10px; font-size: 16px }
.login-box .input-wrap .btn{position: absolute; top: 0; right: 0; width: 130px; height: 130px; font-size: 18px; }
.login-box .btn-wrap{margin-top: 30px; }
.login-box .btn-wrap .btn{width: 200px; height: 50px; letter-spacing:-0.08em;}
    

/* member - 회원가입쪽 타이틀 */
.member-wrap .title-style2{text-align: center;}
.member-wrap .text-style2{font-size: 18px; color: #777; margin-top: 12px;text-align: center;}
.member-wrap .text-style1{ color:#333; font-family:'NotoKrDL';text-align: center; margin-bottom: 80px;text-align: center;}
.member-wrap .text-style1.line{line-height: 26px; margin-bottom: 75px;}
.member-wrap .text-style1 .acc{color:#e3751c ; vertical-align: bottom;font-family:'notoKrM',sans-serif;}
.member-wrap .text-style4.pw-reset{width: 580px; display: block; margin:10px auto 30px; line-height: 22px; position: relative; padding-left: 8px; }
.member-wrap .text-style4.pw-reset .acc{position: absolute; top: 3px; left: 0px}

/* member - 아이디 및 비밀번호찾기 타이틀 */
.pagetitle-wrap.along{ margin-bottom: 30px; }

/* step 회원가입 절차 안내 */
.step-wrap{ margin:0 auto; width: 612px; margin: 3px auto 30px;}
.step-wrap li{display:inline-block;padding:0px;text-align:center; position:relative; width: 72px;margin-left:105px;}
.step-wrap li:before{ content: ''; position: absolute; ;left: -114px; top: 15px; width: 123px;    height: 2px;  background:url('../img/icon_dot_line.png') }
.step-wrap li:first-child{ margin-left: 0;}
.step-wrap li:first-child:before{  content:'';display:none;}
.step-wrap li .txt{font-size: 20px; margin-top: 10px; display: inline-block; color: #777}
.step-wrap li .StepNum{width: 30px; height: 30px; color: #fff; background: #777; font-size: 16px;font-family:'notoKrM',sans-serif; display: block; border-radius: 30px; line-height: 28px; font-weight: normal; margin:0 auto;}
.step-wrap li.stepOn .txt{color: #0770bb; font-family:'notoKrM',sans-serif;}
.step-wrap li.stepOn .StepNum{ background: #0770bb; font-weight: normal;}

/* step 회원가입 절차 안내 - 어린이 회원절차*/
.step-wrap.style2{width: 792px;}
.step-wrap.style2 li:first-child{position: relative; height: 60px}
.step-wrap.style2 li:first-child .txt{position:relative; top: 0px; width: 170px; left:-50px;}


/* member - 회원가입 */
.member-wrap .btn-wrap{ width: 880px; margin:50px auto 80px; }
.member-wrap .btn-wrap .btn-big{ width: 280px; height: 340px ;background-color: #fff; border:3px solid #dddddd; color: #333; font-size: 24px; cursor: pointer; border-radius: 25px 0 0 0; position: relative;}
.member-wrap .btn-wrap .btn-icon{ margin: 0 auto;  width: 145px; height: 125px;background:url('../img/icon_join.png') no-repeat; margin-bottom: 27px;}
.member-wrap .btn-wrap .normal .btn-icon{ background-position: -145px 0; } 
.member-wrap .btn-wrap .child .btn-icon{ background-position: -145px  -125px;} 
.member-wrap .btn-wrap .foreigner .btn-icon{ background-position: -145px -250px;} 
.member-wrap .btn-wrap .phone .btn-icon{ background-position: -145px -515px;height: 140px;margin-bottom: 32px;}
.member-wrap .btn-wrap .ipin .btn-icon{ background-position: -145px -375px;height: 140px;margin-bottom: 32px;}
.member-wrap .btn-wrap .btn-big {margin-left:16px;}
.member-wrap .btn-wrap .btn-big:first-child{margin-left:0px;}
.member-wrap .btn-wrap .btn-big .check-icon{width: 35px; height: 35px; position: absolute; top:20px; left: 20px; }
.member-wrap .btn-wrap .btn-big .s-text{ font-size:16px; ;color:#777; font-family:'NotoKrL'}
.member-wrap .btn-wrap .btn-big:hover, .member-wrap .btn-wrap .btn-big:focus{color: #fff;background: #199da3; border:0;  
	background: -moz-linear-gradient(-45deg, #199da3 0%, #199da3 31%, #0b79b6 100%); 
	background: -webkit-linear-gradient(-45deg, #199da3 0%,#199da3 31%,#0b79b6 100%);
	background: linear-gradient(135deg, #199da3 0%,#199da3 31%,#0b79b6 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#199da3', endColorstr='#0b79b6',GradientType=1)}
.member-wrap .btn-wrap .normal:hover .btn-icon, .member-wrap .btn-wrap .normal:focus .btn-icon{ background-position: 0px 0px; } 
.member-wrap .btn-wrap .child:hover .btn-icon, .member-wrap .btn-wrap .child:focus .btn-icon{ background-position: 0px -125px;} 
.member-wrap .btn-wrap .foreigner:hover .btn-icon, .member-wrap .btn-wrap .foreigner:focus .btn-icon{ background-position: 0px -250px;}
.member-wrap .btn-wrap .phone:hover .btn-icon, .member-wrap .btn-wrap .phone:focus .btn-icon{ background-position: 0px -515px;}
.member-wrap .btn-wrap .ipin:hover .btn-icon, .member-wrap .btn-wrap .ipin:focus .btn-icon{ background-position: 0px -375px;}
.member-wrap .btn-wrap .btn-big:hover .check-icon, .member-wrap .btn-wrap .btn-big:focus .check-icon{background:url('../img/icon_components.png') no-repeat 0 -83px;}
.member-wrap .btn-wrap .btn-big:hover .s-text, .member-wrap .btn-wrap .btn-big:focus .s-text{color:#fff; }
.member-wrap .btn-wrap .line1 .btn-icon{ margin-bottom: 47px; margin-top: 3px;}


/* member - 회원가입 완료  */
.member-wrap .join-finish{width: 980px; height: 452px; margin: 80px auto 40px; padding-bottom: 70px; border:1px solid #ddd; border-radius: 8px}
.member-wrap .join-finish .finish-icon{width:152px; height: 145px;  background: url(../img/icon_err.png) no-repeat -1px -347px ;margin: 77px auto 0; }
.member-wrap .join-finish .finish-tit{font-size: 30px; line-height: 37px; color: #000; text-align:center; margin:25px 0 16px}
.member-wrap .join-finish .finish-cont{font-size: 18px; color: #777; text-align:center;}

/* member - 아이디 및 비밀번호찾기 */
.member-wrap .find-id-result li > div{ width: 278px; height: 280px; display: table-cell; vertical-align: middle; color: #333; font-size: 20px; background: #f8f8f8; border-radius: 12px 0 0 0; text-align: center;}
.member-wrap .find-id-result li{display: inline-block; margin-left: 20px;}
.member-wrap .find-id-result li:first-child  {margin-left: 0px;}
.member-wrap .find-id-result li .res{color: #000; font-size: 28px;  font-family:'notoKrM',sans-serif; margin-top: 33px; font-weight: normal}
.member-wrap .pw-find-input{width: 580px; height: 50px !important; display: block; margin:0 auto }


/* guide  - 편의시설 */
.amenity > li{height: 450px !important;}
.amenity .tit{font-family: 'NotoKrDL',sans-serif  !important; font-size: 18px !important; font-weight: normal; margin-top: 18px !important;}
.amenity dl.info{margin-top:12px; margin-left: 20px;  }
.amenity dl.info dt{color: #333; height: 26px; width: 80px; float: left; line-height: 22px}
.amenity dl.info dd{color: #777;height: 26px;  width: 260px;display:inline-block; line-height: 22px}
.amenity dl.info .line{display: inline-block; margin: 0 5px; font-size: 10px; position: relative;top: -3px  }
.amenity > li.height{height: 500px !important;}

/* guide  - 찾아오시는 길 */
.map-wrap{ height: 490px; width: 1180px; border-radius: 8px; background: #eee }
.btn-wrap.map .btn-m{width: 150px !important; letter-spacing: -1px ;padding: 0 10px}
.btn-wrap.map .btn-l{width: 210px !important;   }
.map .subway01{color: #273C97; font-family:'notoKrM',sans-serif;}
.map .subway02{color: #BF7E00; font-family:'notoKrM',sans-serif;}
.map .subway03{color: #406DA6; font-family:'notoKrM',sans-serif;}


/* res  - 진료예약  */
.res-notice{font-size: 16px; width: 90px; height: 20px; line-height: 20px; padding-left: 25px;  background: url(../img/icon_contents.png) no-repeat #fff; background-size: 134px; position: absolute; top: -30px; right: 10px}
.res-notice-box{ width: 600px !important; height: 366px !important; }
#layer-box.res-notice-box .layer-wrap{height: 366px !important; }
#layer-box.res-notice-box .layer-wrap .layer-cont{height: 366px !important; overflow-y: hidden;  }
.res-notice-box .res-notice-text{color: #333;  font-size: 16px;font-family:'notoKrR',sans-serif; line-height: 35px; margin-top:30px }
.res-notice-box .res-notice-text .sub{color: #777;  font-size: 14px;font-family:'notoKrL',sans-serif; line-height: 24px;}
.res-wrap{width: 1180px; height: 945px; border-radius: 8px;  position: relative; box-sizing: border-box;font-size: 16px;}
.res-wrap > div{float: left;  height: 945px; box-sizing: border-box;position: relative;}
.res-wrap .title{font-family:'notoKrM',sans-serif; width: 100%;  height: 80px; color:#777; font-size: 20px; font-weight: normal; padding:17px 20px;  }
.res-wrap .title span{ display: block; margin-bottom: 7px; vertical-align: top;}
.res-wrap .title.on{background: #0770bb; color: #fff; border-color:#0770bb  !important }
.res-wrap .before{ width: 100%; height: 100%;position: relative; color: #777}
.res-wrap .before p{position: absolute; top: 45%; left: 50%; transform: translateY(-50%) translateX(-50%) ;}

/* res  - 진료예약 - 진료과 */
.res-wrap .res-dept{ width: 279px; }
.res-wrap .res-dept .dept-tit{border-radius: 8px 0 0 0}
.res-wrap .res-dept .dept-box{height: 865px; border-left:1px solid #dddddd;border-bottom:1px solid #dddddd;border-radius: 0  0 0 8px; overflow-x:hidden;overflow-y:scroll;  }
.res-wrap .res-dept .dept-box button.detp-list{ color: #333; border-bottom:1px solid #eeeeee; width: 100%; height: 60px; background: #fff; font-size: 16px; letter-spacing: -1px ; font-family:'notoKrL',sans-serif; }
.res-wrap .res-dept .dept-box button.detp-list:last-child{ border-bottom:0; margin-bottom:8px;}
.res-wrap .res-dept .dept-box button.detp-list.active{border:2px solid #0770bb;font-family:'notoKrM',sans-serif; color: #0770bb;  }

/* res  - 진료예약 - 의료진 */
.res-wrap .res-docter{width: 600px;}
.res-wrap .res-docter .doc-tit{border:1px solid #dddddd; }
.res-wrap .res-docter .doc-tit.on{border-left:1px solid #dddddd !important; border-right:1px solid #dddddd !important;}
.res-wrap .res-docter .doc-box{height: 865px; border:1px solid #dddddd;border-top:0;overflow-x:hidden;overflow-y:scroll;}
.res-wrap .res-docter .doc-box .doc-list {display: block; border-bottom:1px solid #eeeeee ; background: #fff ; position: relative;}
.res-wrap .res-docter .doc-box .doc-list:after{content:'';display: block;clear: both;}
.res-wrap .res-docter .doc-box .doc-list.active{border:2px solid #0770bb;}
.res-wrap .res-docter .doc-box .doc-list .doc_photo{ float: left; margin-top: 40px; margin-left: 20px; }
.res-wrap .res-docter .doc-box .doc-list .text-wrap{padding-top: 40px; margin-right: 20px;width: 345px; float: right;}
.res-wrap .res-docter .doc-box .doc-list .text-wrap .name{font-size: 22px; color: #000; font-family:'notoKrM',sans-serif;margin-bottom: 20px;}
.res-wrap .res-docter .doc-box .doc-list .text-wrap > div{margin-bottom: 20px;}
.res-wrap .res-docter .doc-box .doc-list .text-wrap > div:after{content:'';display: block;clear: both;}
.res-wrap .res-docter .doc-box .doc-list .text-wrap .tit{font-size: 16px; color: #333; font-family:'notoKrDL',sans-serif; width: 70px; float: left; }
.res-wrap .res-docter .doc-box .doc-list .text-wrap .con{ line-height: 20px;font-size: 14px; width: 275px; float: right; position: relative;top: -2px }
.res-wrap .res-docter .doc-box .doc-list .day .con{color: #333; font-family:'notoKrM',sans-serif;}
.res-wrap .res-docter .doc-box .doc-list .fie .con{color: #333;}
.res-wrap .res-docter .doc-box .doc-list .ect .con{color: #777;}

/* res  - 진료예약 - 진료일정  */
.res-wrap .res-data-info{width: 299px;}
.res-wrap .res-data-info .data-tit{ border:1px solid #dddddd;border-left:0; border-radius: 0 8px 0  0; }
.res-wrap .res-data-info .data-box{border-right:1px solid #dddddd; height: 493px}
.res-wrap .res-data-info .data-box .calendar{ position: relative; padding:40px 20px 30px;  }
.res-wrap .res-data-info .data-box .calendar .year{color: #000; font-family:'notoKrM',sans-serif;font-size: 20px; padding-top:2px }
.res-wrap .res-data-info .data-box .calendar .year button{width: 20px; height: 20px;background: url(../img/icon_components.png) no-repeat -55px -95px; vertical-align: middle;}
.res-wrap .res-data-info .data-box .calendar .year .prev{background-position:-49px -95px ; margin-right: 10px; }
.res-wrap .res-data-info .data-box .calendar .year .next{background-position:-86px -95px ; margin-left: 10px; }
.res-wrap .res-data-info .data-box .calendar button.today{width: 50px; height: 25px; background:#eeeeee; color:#333333; font-size: 14px; font-family:'notoKrL',sans-serif; border-radius: 25px ; position: absolute; right: 20px; top: 40px;  }
.res-wrap .res-data-info .data-box .calendar .cal{ width: 100%; text-align: center; margin-top:20px; }
.res-wrap .res-data-info .data-box .calendar .cal thead th{ height: 38px ; font-size: 14px; color: #777777; font-family:'notoKrB',sans-serif; }
.res-wrap .res-data-info .data-box .calendar .cal tbody td{ height: 38px ; width:36px; font-size: 14px; color: #333; line-height: 29px}
.res-wrap .res-data-info .data-box .calendar .cal div,  .res-wrap .res-data-info .data-box .calendar .cal button{width:30px; height: 30px; border-radius: 15px; background: #fff }
.res-wrap .res-data-info .data-box .calendar .cal .today{ background:#eeeeee}
.res-wrap .res-data-info .data-box .calendar .cal .active{ background:#0770bb; color: #fff; font-family:'notoKrR',sans-serif;}
.res-wrap .res-data-info .data-box .calendar .cal .on{ border: 1px solid #0770bb}
.res-wrap .res-data-info .data-box select{margin: 0 20px; width: 260px;}

/* res  - 진료예약 - 예약정보  */
.res-wrap .res-data-info .info-tit{color: #fff; background: #757a85;padding:29px 20px; }
.res-wrap .res-data-info .info-box{border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;border-radius: 0 0 8px 0; height: 292px; }
.res-wrap .res-data-info .info-box dl{position: relative; padding-top: 17px; margin-left: 20px}
.res-wrap .res-data-info .info-box dt, .res-wrap .res-data-info .info-box dd{display: table;}
.res-wrap .res-data-info .info-box dt > div, .res-wrap .res-data-info .info-box dd > div{display: table-cell;vertical-align: middle;}
.res-wrap .res-data-info .info-box dt{ width: 100px; height: 46px; float: left; padding-left: 10px; position: relative;  }
.res-wrap .res-data-info .info-box dt:before{content:'';display:inline-block;position:absolute;left:0;top:21px;width:4px;height:4px;background:#aaa;}
.res-wrap .res-data-info .info-box dd{height: 46px; font-family:'notoKrM',sans-serif; width: 160px;float: right; margin-right: 10px; line-height: 21px }

/* dept  - 진료과/의료진 - 진료과  */

.search-wrap{ height: 422px; width: 100%; background: url(../img/dept_bg.jpg) repeat-x top center }
.search-wrap .search-cont{width: 1180px; margin: 0 auto;}
.search-wrap .search-cont .title{font-size: 34px; line-height: 46px; color: #000; margin: 0 auto 45px; padding-top: 95px; text-align: center; letter-spacing: -1px; }
.search-wrap .search-cont .search{ background: #fff; opacity: 0.8; border-radius: 12px 0 0 0 ; height: 80px; position: relative; }
.search-wrap .search-cont .search input{ background: transparent; border:0; font-size: 24px; line-height: 80px;height: 80px; vertical-align: middle; padding-left: 30px; width: 1070px  }
.search-wrap .search-cont .search button{vertical-align: middle;height: 80px; width: 100px ; float: right; background: url(../img/icon_dept.png) no-repeat 22px 18px transparent }
.search-wrap .search-cont .btn-list{ margin: 20px auto 0 ; text-align: center;}
.search-wrap .search-cont .btn-list li{display: inline-block;}
.search-wrap .search-cont .btn-list li button{width: 35px; height: 35px; border-radius: 35px; background: #fff; font-size: 16px; color: #777; margin-left: 10px;}
.search-wrap .search-cont .btn-list li button.all{ width: 66px; color:#fff ; background: #199da3; margin-left: 0px; }
.search-wrap .search-cont .btn-list li button.etc{width: 103px; }


.dept-list{ padding-top: 60px;  }
.dept-list .list{ width: 280px; height: 250px; text-align: center;display: inline-block; margin-bottom: 50px; margin-left: 17px; position: relative; }
.dept-list .list:nth-child(4n+1){ margin-left:0px;}
.dept-list .list .icon{width: 180px; height: 180px; border-radius: 90px; border: 2px solid #dddddd; margin: 0 auto;  background: url(../img/icon_dept_list.png) no-repeat 0px 0px transparent}
.dept-list .list .over-icon{display: none; width: 180px; height: 180px; border-radius: 90px; margin: 0 auto; position: absolute; top: 0; left:50px; padding:38px 36px;background: #199da3; /* Old browsers */
background: -moz-linear-gradient(-45deg, #0b79b6 0%, #0b79b6 31%, #199da3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #0b79b6 0%,#0b79b6 31%,#199da3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #0b79b6 0%,#0b79b6 31%,#199da3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b79b6', endColorstr='#199da3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.dept-list .list .over-icon li{width: 45px; height: 45px; display: inline-block;}
.dept-list .list .over-icon li a{width: 45px; height: 45px; display: block; background: url(../img/icon_dept.png) no-repeat  transparent; }
.dept-list .list .over-icon li.home a{ background-position: 0px -70px; margin-right: 15px; margin-bottom: 10px  }
.dept-list .list .over-icon li.doc a{ background-position: 0px -180px; margin-bottom: 10px }
.dept-list .list .over-icon li.res a{ background-position: 0px -125px; margin-right: 15px;}
.dept-list .list .over-icon li.con a{ background-position: 0px -235px}
.dept-list .list .over-icon li.home {  margin-right: 15px; margin-bottom: 10px  }
.dept-list .list .over-icon li.doc { margin-bottom: 10px }
.dept-list .list .over-icon li.res {  margin-right: 15px;}
.dept-list .list .over-icon li a span{ position: absolute; border: 1px solid #0770bb; background: #fff; font-size: 14px; color: #777; padding:5px ;display: none ; }
.dept-list .list .over-icon li a span:before{content:'';display:inline-block;position:absolute;left:45%;top:22px;width:4px;height:10px;background: url(../img/icon_dept_arr.png) no-repeat}
.dept-list .list .over-icon li.home a span{top: 0; left:45px;}
.dept-list .list .over-icon li.doc a span{top: 0; left:85px;}
.dept-list .list .over-icon li.res a span{top: 58px; left:30px;}
.dept-list .list .over-icon li.con a span{top: 58px; left:92px;}
.dept-list .list .text-ko{color: #333; font-size: 22px; font-family:'notoKrM',sans-serif; margin-top:20px }
.dept-list .list .text-en{color: #777; font-size: 14px; font-family:'notoKrR',sans-serif;margin-top:10px}
.dept-list .list .over-icon li.home a:hover{background-position: -54px -70px; }
.dept-list .list .over-icon li.doc a:hover{background-position: -54px -180px; }
.dept-list .list .over-icon li.res a:hover{background-position: -54px -125px; }
.dept-list .list .over-icon li.con a:hover{background-position: -54px -235px; }
.dept-list .list .over-icon li.home a:hover span{display: block;}
.dept-list .list .over-icon li.doc a:hover span{display: block;}
.dept-list .list .over-icon li.res a:hover span{display: block;}
.dept-list .list .over-icon li.con a:hover span{display: block;}
.dept-list .list:hover .over-icon{display: block;}